"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "wrap-guide"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "__CG__*.php"
    ]
    projectHome: "~/projects"
    telemetryConsent: "no"
  editor:
    fontFamily: "Inconsolata"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 2
  "file-icons":
    onChanges: true
  linter: {}
  "linter-puppet-lint":
    oldVersion: false
    puppetLintArguments: "--no-80chars-check"
  "multi-wrap-guide":
    # Soft/hard/GitHub
    columns: [
      80
      120
      104
    ]
    locked: true
    silent: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
