"*":
  welcome:
    showOnStartup: false
  core:
    projectHome: "~/projects"
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "wrap-guide"
    ]
    autoHideMenuBar: true
    excludeVcsIgnoredPaths: false
  editor:
    fontFamily: "Droid Sans Mono"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 2
  linter: {}
  "linter-puppet-lint":
    puppetLintArguments: "--no-80chars-check"
  "tree-view":
    showOnRightSide: false
  "multi-wrap-guide":
    # Soft/hard/GitHub
    columns: [
      80
      120
      104
    ]
    locked: true
    silent: true
