'.platform-darwin atom-text-editor':
    'ctrl-cmd-/': 'unset!'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
    'ctrl-alt-/': 'unset!'

'atom-text-editor':
    'ctrl-\'': 'aligner:align'

'.platform-win32':
  'ctrl-alt-p': 'project-manager:toggle'
  'alt-shift-P': 'unset!'

'.platform-linux':
  'ctrl-alt-p': 'project-manager:toggle'
  'alt-shift-P': 'unset!'
