'.platform-darwin atom-text-editor':
    'ctrl-cmd-/': 'unset!'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
    'ctrl-alt-/': 'unset!'

'atom-text-editor':
    'ctrl-\'': 'aligner:align'
