atom-text-editor.editor {
  .multi-wrap-guide:nth-child(2) .multi-wrap-guide-line {
    background-color: fadeout(red, 90%);
  }
}

.favicon(@name; @url) {
  .icon-@{name}:before {
    background: url("https://www.google.com/s2/favicons?domain=@{url}") no-repeat center center;
    background-size: contain;
    height: 16px;
    width: 16px;
    display: inline-block;
    content: '\a0';
  }
}

.favicon(wp, 'www.widerplan.com');
.favicon(ww, 'www.widerwallet.com');
.favicon(nb, 'www.networkbenefits.co.uk');
.favicon(kv, 'www.kiddivouchers.com');
.favicon(hf, 'www.holidayflex.com');
.favicon(wpb, 'www.workplacebikes.com');
.favicon(wpc, 'www.workplacecars.com');
.favicon(wpp, 'www.workplaceparking.com');
.favicon(wpt, 'www.workplacetransport.com');
.favicon(wr, 'www.widerrewards.com');
.favicon(ws, 'www.widerskills.com');
.favicon(wt, 'www.widertech.com');
.favicon(wg, 'www.widergiving.com');
.favicon(wwb, 'www.widerwellbeing.com');

.favicon(lec, 'forum.lotuselancentral.com');
